# Read products in inventory

In [ ]:
 
import json
fd=open("records.json","r")
js=fd.read()
fd.close()
records=json.loads(js)
print(records)

{'1001': {'Name': 'Choco Cake', 'Price': 100, 'Quantities': 34}, '1002': {'Name': 'Milk Cake', 'Price': 800, 'Quantities': 100}, '1003': {'Name': 'Drink', 'Price': 85, 'Quantities': 100}, '1004': {'Name': 'Candy', 'Price': 5, 'Quantities': 1000}, '1005': {'Name': 'Pen', 'Price': 20, 'Quantities': 100}, '1006': {'Name': 'Pencil', 'Price': 3, 'Quantities': 80}}

# Purchase from inventory

In [ ]:
 
pid  = str(input("Enter the product Id:"))
pq = int(input("Enter the product quantities:"))
 
 
print("Product: ", records[pid]['Name'])
print("Price: ", records[pid]['Price'])
print("Billing Amount: ", records[pid]['Price'] * pq)
 
records[pid]['Quantities'] = records[pid]['Quantities'] - pq

Enter the product Id:1001
Enter the product quantities:2
Product:  Choco Cake
Price:  100
Billing Amount:  200

# Update inventory after purchase

In [ ]:
js=json.dumps(records)
fd=open("records.json","w")
fd.write(js)
fd.close()
print(js)

{"1001": {"Name": "Choco Cake", "Price": 100, "Quantities": 32}, "1002": {"Name": "Milk Cake", "Price": 800, "Quantities": 100}, "1003": {"Name": "Drink", "Price": 85, "Quantities": 100}, "1004": {"Name": "Candy", "Price": 5, "Quantities": 1000}, "1005": {"Name": "Pen", "Price": 20, "Quantities": 100}, "1006": {"Name": "Pencil", "Price": 3, "Quantities": 80}}

# Sales JSON

In [ ]:
 {'Product' : pid, 'Quantities' : pq, 'Amount': records[pid]['Price'] * pq}

{'Amount': 200, 'Product': '1001', 'Quantities': 2}

In [ ]:
 sales={1:{'Product':pid,'Quantities':pq,'Amount':records[pid]['Price'] * pq},2:{'Product':pid,'Quantities':pq,'Amount':records[pid]['Price']*pq},3:{'Product':pid,'Quantities':pq,'Amount':records[pid]['Price']*pq}}
print(type(sales))

<class 'dict'>

# Update sales

In [ ]:
sale=json.dumps(sales)
fd=open("sales.json","w")
fd.write(sale)
fd.close()